<div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
                <a routerLink="/users/list" >Users</a>
                <a routerLink="/vendors/list" >Vendors</a>
                <a routerLink="/products/list" >Products</a>
                <a routerLink="/requests/list" >Requests</a>
                <a routerLink="/requests/reviews">Reviews</a>
                <a routerLink="/about" >About</a>
                <a routerLink="/users/login" >Logout</a>
            </li>
        </ul>
    </nav>
</div>
